body
{
	font-family: Helvetica, Arial, sans-serif;
}
div.wrapper
{
	width:960px;
	margin:10px auto;
}
/* Header*/

div.wrapper header
{
	text-align:center;
}
div.wrapper header nav ul li
{
	display: inline-block;
}
div.wrapper header nav ul li a
{
	text-decoration: none;
	color:#ffe473;
	background-color: #bfa430;
	padding:10px 20px;
	border-radius: 3px;
}
div.wrapper header nav ul li a:hover
{
	background-color: #a67e00;
}

/* Content*/

div.wrapper div.content
{
	padding:20px;
}
div.wrapper article
{
	width:440px;
	display:inline-block;
	margin-right:18px;
	text-align:justify;
}
/* Footer*/
footer
{
	text-align:center;
}